html {
   scroll-behavior: smooth;
}

body {
   font-family: "SF Pro Display", "Apple Gothic", Helvetica, Arial, sans-serif;
   margin: 0 auto;
   overflow-x: hidden;
}

footer {
   background-color: #F5F5F7;
   padding: 0.5vw 0;
}

footer p {
   color: #6E6E73;
   text-align: center;
   margin: 0 auto;
   font-size: 1vw;
}

li,
ul {
   display: inline-block;
   margin: 0;
   padding: 0;
   list-style: none;
}

.menu {
   z-index: 10;
   background-color: rgba(255, 255, 255, 55%);
   backdrop-filter: blur(20px);
   display: inline-block;
   padding: 0 1vw;
   border-bottom: 0.75px solid rgba(0, 0, 0, 15%);
   border-bottom-left-radius: 1vw;
   border-bottom-right-radius: 1vw;
}

.menu ul li a {
   display: flex;
   line-height: normal;
   padding: 0;
   text-decoration: none;
   color: #1d1d1f;
   font-weight: bold;
   font-size: 1vw;
}

.header {
   width: 100%;
   position: fixed;
   text-align: center;
   z-index: 10;
}

li {
   justify-content: center;
   margin: 0.5vw;
}

.title {
   text-align: left;
   font-size: clamp(15px, 2vw, 30px);
   font-weight: 500;
   z-index: 3;
   margin-left: 0.25vw;
   margin-bottom: 0.5vw;
}

.sub {
   z-index: 3;
   text-align: left;
   font-size: clamp(20px, 3.5vw, 45px);
   font-weight: 600;
   line-height: clamp(22.5px, 4vw, 55px);
}

img {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.menu ul li a img {
   height: 0.9vw;
   min-height: 7.5px;
}

.top {
   position: relative;
   display: block;
   margin: 0 auto;
   height: 40vw;
   text-align: center;
   padding-top: 12vw;
   z-index: 1;
   background-image: url(/images/top_bg.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   background-attachment: fixed;
}

.top .bg_dark {
   z-index: -1;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 55%), rgba(0, 0, 0, 75%));
   backdrop-filter: blur(1.75px);
}

.design_value .card_wrap .box1 .bg_dark{
   z-index: -1;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   display: block;
}

.top #main {
   z-index: 9;
   font-weight: bold;
   text-align: center;
   color: #fff;
}

.top #main #name {
   font-size: 8vw;
   letter-spacing: -0.75vw;
}

.top #main #info {
   font-size: 4vw;
   letter-spacing: -0.3vw;
}

.top #main #keyboard_arrow_down {
   font-size: 3vw;
   color: #c6c6c6;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.top #main .gap {
   height: 3vw;
}

.top #main .gap2 {
   height: 7.5vw;
}

.design_value {
   text-align: center;
   z-index: 3;
   padding-top: 4vw;
   padding-bottom: 17.5vw;
}

.communication {
   text-align: center;
   z-index: 3;
   padding-bottom: 17.5vw;
}

.address {
   text-align: center;
   z-index: 3;
   padding-bottom: 7.5vw;
}

.card {
   overflow: hidden;
   border-radius: 2.8vw;
}

#ui1 {
   height: 115%;
   display: flex;
   position: absolute;
   top: 20%;
   right: 33.5%;
}

#ui2 {
   height: 115%;
   display: flex;
   position: absolute;
   bottom: 7vw;
   right: 3.5%;
}

#people {
   display: inline-grid;
   margin-top: 5%;
   grid-template-columns: repeat(3, clamp(42.5px, 10vw, 1000px));
   grid-template-rows: repeat(2, clamp(42.5px, 10vw, 1000px));
   grid-gap: 0.75vw;
}

.person {
   width: 100%;
   border-radius: 50%;
}

.design_value .box1 {
   grid-column: 1/3;
   grid-row-start: 1;
}

.design_value .box2 {
   grid-column: 1/2;
   grid-row-start: 2;
}

.design_value .box3 {
   grid-row: 2/3;
   grid-column-start: 2;
}

.communication .box1 {
   grid-column: 1/3;
   grid-row-start: 1;
}

.address .box1 {
   grid-column: 1/3;
   grid-row-start: 1;
}

.design_value h1 {
   display: inline-block;
   font-size: clamp(20px, 5vw, 100px);
   margin-bottom: 4vw;
}

.skill h1 {
   display: inline-block;
   font-size: clamp(20px, 5vw, 100px);
   margin-bottom: 4vw;
}

.communication h1 {
   display: inline-block;
   font-size: clamp(20px, 5vw, 100px);
   margin-bottom: 4vw;
}

.address h1 {
   display: inline-block;
   font-size: clamp(20px, 5vw, 100px);
   margin-bottom: 4vw;
}

.design_value .card_wrap {
   display: inline-grid;
   grid-template-columns: repeat(2, clamp(150px, 35vw, 1000px));
   grid-template-rows: repeat(2, clamp(150px, 35vw, 1000px));
   grid-gap: 1vw;
}

.skill .card_wrap {
   display: inline-grid;
   grid-template-columns: repeat(2, clamp(150px, 35vw, 1000px));
   grid-template-rows: repeat(2, clamp(150px, 35vw, 1000px));
   grid-gap: 1vw;
}

.communication .card_wrap {
   display: inline-grid;
   grid-template-columns: repeat(2, clamp(150px, 35vw, 1000px));
   grid-template-rows: repeat(1, clamp(150px, 35vw, 1000px));
   grid-gap: 1vw;
}

.address .card_wrap {
   z-index: 3;
   position: relative;
   display: inline-grid;
   grid-template-columns: repeat(2, clamp(150px, 35vw, 1000px));
   grid-template-rows: repeat(1, clamp(150px, 35vw, 1000px));
   grid-gap: 1vw;
}

.big_card {
   margin: 0 auto;
   width: 100%;
}

.design_value .card_wrap .box1 {
   background-color: #fff;
   z-index: 0;
   position: relative;
}

.design_value .card_wrap .box2 {
   background-color: #1d1d1f;
   color: #fff;
   z-index: 0;
   position: relative;
}

.design_value .card_wrap .box3 {
   z-index: 0;
   background: linear-gradient(to right, #ffdf87, #FFE087);
}

.communication .card_wrap .box1 {
   position: relative;
   z-index: 0;
   background: linear-gradient(to right bottom, #1082FF, #70AFF7);
}

.communication .card_wrap .box1 {
   position: relative;
   z-index: 0;
}

.communication .card_wrap .box1 .text_wrap {
   color: #fff;
}

.design_value .card_wrap .box1 .text_wrap {
   padding: 10% 2vw;
}

.design_value .card_wrap .box2 .text_wrap {
   padding: 20% 2vw;
   z-index: 5;
   position: absolute;
}

.design_value .card_wrap .box3 .text_wrap {
   text-align: center;
   padding: 3vw 2vw 0px 2vw;
}

.design_value .card_wrap .box2 .img_wrap {
   transform: rotateZ(-30deg);
   top: -7vw;
   left: 0vw;
   position: relative;
   display: inline-grid;
   grid-template-columns: repeat(5, 6vw);
   grid-template-rows: repeat(5, 6vw);
   grid-gap: 4.5vw;
}

.design_value .card_wrap .box2 .img_wrap span {
   font-size: 6vw;
   color: rgba(255, 255, 255, 10%);
   position: absolute;
   display: flex;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.design_value .card_wrap .box2 .img_wrap #command {
   grid-column: 1/2;
   grid-row-start: 4;
}

.design_value .card_wrap .box2 .img_wrap #verified {
   grid-column: 3/4;
   grid-row-start: 3;
}

.design_value .card_wrap .box2 .img_wrap #crop {
   grid-column: 3/4;
   grid-row-start: 1;
}

.design_value .card_wrap .box2 .img_wrap #shopping_cart {
   grid-column: 4/5;
   grid-row-start: 1;
}

.design_value .card_wrap .box2 .img_wrap #explore {
   grid-column: 2/3;
   grid-row-start: 3;
}

.design_value .card_wrap .box2 .img_wrap #content_copy {
   grid-column: 2/3;
   grid-row-start: 2;
}

.design_value .card_wrap .box2 .img_wrap #play_circle {
   grid-column: 4/5;
   grid-row-start: 2;
}

.design_value .card_wrap .box2 .img_wrap #equalizer {
   grid-column: 1/2;
   grid-row-start: 3;
}

.design_value .card_wrap .box2 .img_wrap #print {
   grid-column: 1/2;
   grid-row-start: 2;
}

.design_value .card_wrap .box2 .img_wrap #keyboard {
   grid-column: 2/3;
   grid-row-start: 1;
}

.design_value .card_wrap .box2 .img_wrap #wifi {
   grid-column: 4/5;
   grid-row-start: 3;
}

.design_value .card_wrap .box2 .img_wrap #verified_user {
   grid-column: 3/4;
   grid-row-start: 2;
}

.design_value .card_wrap .box2 .img_wrap #vpn_key {
   grid-column: 2/3;
   grid-row-start: 4;
}

.design_value .card_wrap .box2 .img_wrap #sensors {
   grid-column: 3/4;
   grid-row-start: 4;
}

.design_value .card_wrap .box2 .img_wrap #keyboard_voice {
   grid-column: 3/4;
   grid-row-start: 5;
}

.card_wrap .card {
   box-shadow: 10px 20px 75px 15px rgba(29, 29, 31, 6%);
}

.skill {
   z-index: 6;
   padding-bottom: 17.5vw;
   text-align: center;
}

.skill .box1 {
   grid-column: 1/2;
   grid-row-start: 1;
}

.skill .box2 {
   grid-column: 2/3;
   grid-row-start: 1;
}

.skill .box3 {
   grid-column: 1/3;
   grid-row-start: 2;
}

.skill .card_wrap .box1 .text_wrap {
   padding: 4vw 0 0 2vw;
}

.skill .card_wrap .box2 .text_wrap {
   padding: 4vw 2vw 0 2vw;
}

.skill .card_wrap .box3 .text_wrap {
   padding: 6.5vw 2vw;
}

.communication .card_wrap .box1 .text_wrap {
   padding: 6.5vw 2vw;
}

.address .card_wrap .box1 .text_wrap {
   display: block;
   padding: 6.5vw 2vw;
   position: absolute;
   width: 24.5%;
}

.skill .card_wrap .box1 {
   color: #fff;
   background-color: #1d1d1f;
}

.skill .card_wrap .box2 {
   background-color: #fff;
}

.skill .card_wrap .box3 {
   position: relative;
   background: linear-gradient(to right bottom, #e2f3ff, #e5eaff);
}

.html_css_js,
.adobe {
   margin-top: 12.5%;
   display: inline-grid;
   grid-template-columns: repeat(3, clamp(40px, 8.5vw, 200px));
   grid-template-rows: clamp(40px, 8.5vw, 200px);
   grid-gap: 1.5vw;
}

.html_css_js img {
   height: 100%;
}

.adobe img {
   width: 100%;
}

.communication #com1 {
   display: flex;
   position: absolute;
   width: clamp(25px, 37.5%, 1000px);
   top: 22.5%;
   left: clamp(115px, 35%, 1000px);
}

.communication .box1 #com2 {
   display: flex;
   position: absolute;
   width: clamp(25px, 37.5%, 1000px);
   top: 15%;
   right: -5%;
}

.address .box1 .img_wrap {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   top: 0;
   left: 30%;
   width: 70%;
   height: 100%;
}

.address .box1 .insta_github_notion {
   position: absolute;
   display: inline-grid;
   grid-template-columns: repeat(3, clamp(50px, 10vw, 200px));
   grid-template-rows: clamp(50px, 10vw, 200px);
   grid-gap: 4.5vw;
}

#instagram {
   display: flex;
   position: absolute;
   width: 100%;
   grid-column: 1/2;
}

#github {
   display: flex;
   position: absolute;
   width: 100%;
   grid-column: 2/3;
}

#notion {
   display: flex;
   position: absolute;
   width: 100%;
   grid-column: 3/4;
}

.skill .box3 img {
   display: flex;
   position: absolute;
   width: clamp(25px, 50%, 1000px);
   top: 10%;
   right: 7.5%;
}

.address .card_wrap .card .bg_color {
   display: flex;
   position: absolute;
   border-top-left-radius: 2.8vw;
   border-bottom-left-radius: 2.8vw;
   left: 0;
   top: 0;
   z-index: -1;
   height: 100%;
   width: 30%;
   background-color: #D9F0E9;
}

.design_value .card_wrap .card .bg_color {
   display: flex;
   position: absolute;
   border-top-left-radius: 2.8vw;
   border-bottom-left-radius: 2.8vw;
   left: 0;
   top: 0;
   z-index: -1;
   height: 100%;
   width: 57.5%;
   background: linear-gradient(to right bottom, #e2f3ff, #e5eaff)
}